@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  line-height: 1.4;
  -webkit-appearance: none;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2rem;
}
p {
  font-size: 1.4rem;
}

button {
  border: 0;
  cursor: pointer;
  font-family: inherit;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
    border: 0;
  }
}
