@import "./reset";
@import "./loader";
//colors
$color-md-black: #303030;
$color-md-white: #fbfbfd;
$color-white: #fff;
$color-link: #0066cc;
$color-btn-blue: #0071e3;
//colors-dot
$dot-purple: #b7afe6;
$dot-blue: #23809f;
$dot-green: #cbdec7;
$dot-red: #b90b2d;
$dot-white: #ebebe3;

body {
  color: $color-md-black;
  margin: 0 auto;
  padding: 1.5rem;
}

.heading {
  font-size: clamp(4rem, 3.2vw, 5rem);
  letter-spacing: -0.02em;
  margin: 3rem 0 5rem 0;
}
.flagship {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  &__mock {
    max-width: 80%;

    &__img {
      // border: 1px solid black;
      position: relative;
      &__ele {
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
      }
    }
    &__colors {
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      &__wrap {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        grid-column-gap: 15px;
        place-items: center;
      }
    }
  }

  &__content {
    width: 95%;
    background-color: $color-md-white;
    padding: 3rem;
    &__pricing {
      &__title {
        font-size: 4rem;
        margin-bottom: 2rem;
      }
    }
    &__details {
      display: flex;
      column-gap: 1.5rem;
      margin-bottom: 1.5rem;
      img {
        align-self: flex-start;
        margin-top: -0.2rem;
      }
    }
  }
}
@media (min-width: 1024px) {
  .heading {
    margin: 3rem 0 8rem 0;
  }
  .flagship {
    flex-direction: row;
    &__mock {
      flex-basis: 45%;
      max-width: 45%;
    }
    &__content {
      padding: 5rem;
      flex-basis: 45%;
      max-width: 45%;
      margin-left: calc(55% - 41.66667%);
      align-self: center;
    }
  }
}

//icon styling
.chevron {
  background-color: $color-md-white;
  border-radius: 10px;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: calc(50% - 2rem);

  img {
    width: 100%;
    height: 100%;
  }
  &:active {
    transform: scale(0.97) translateY(3px);
    transition: transform 200ms;
  }
}
.chevron-left {
  @extend .chevron;
  left: -4.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) -1.95px 1.95px 2.6px;
}
.chevron-right {
  @extend .chevron;
  right: -4.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 1.95px 1.95px 2.6px;
}
.line {
  background-color: $color-md-black;
  height: 0.5px;
  margin: 2.5rem 0;
  opacity: 0.3;
}

//dot colors
.color {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  outline: 5px solid $color-white;
}

[data-name="purple"] {
  background-color: $dot-purple;
}
[data-name="blue"] {
  background-color: $dot-blue;
}
[data-name="green"] {
  background-color: $dot-green;
}
[data-name="red"] {
  background-color: $dot-red;
}
[data-name="white"] {
  background-color: $dot-white;
}

//functional class
.active {
  box-shadow: 0 0 0 7px $color-btn-blue;
}

.link {
  color: $color-btn-blue;
  cursor: pointer;
}

.btn {
  width: 100%;
  transition: background-color 0.2s;
  &-flagship {
    @extend .btn;
    position: relative;
    overflow: hidden;
    background: $color-btn-blue;
    color: $color-white;
    font-size: 2rem;
    padding: 1rem 0;
    border-radius: 10px;
    letter-spacing: -0.2px;
    margin-top: 3rem;
  }
  &:hover {
    background-color: lighten($color-btn-blue, 5%);
  }
}

button .ripple {
  position: absolute;
  background-color: darken($color-btn-blue, 10%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 450ms ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3.5);
    opacity: 0;
  }
}
