@import "reset";

//colors
$color-green: #99de9f;
$color-text-grey: #2a2a2a;
$color-form-border: #c1e4ff;

//typograph

$font-mulish: "Mulish", sans-serif;
$font-inter: "Inter", sans-serif;

$font-weights: (
  regular: 400,
  medium: 500,
  semiBold: 600,
  bold: 700,
  bolder: 800,
);
button {
  overflow: hidden;
  & .ripple {
    position: absolute;
    background-color: $color-text-grey;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 500ms ease-out;
  }
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3.5);
    opacity: 0;
  }
}

body {
  padding: 2rem;
  margin: 0 auto;
  font-family: $font-mulish;
  max-width: 1140px;
  text-align: center;
  color: $color-text-grey;
  font-weight: map-get($font-weights, regular);
}

.contact {
  &__title {
    font-weight: map-get($font-weights, bold);
    margin-bottom: 7rem;
  }
  &__content {
    display: grid;
  }

  &__content__heroimage {
    display: none;
    img {
      width: 100%;
    }
  }

  &__content__form {
    display: flex;
    flex-direction: column;
  }
  &__content__form__header {
    margin-bottom: 3.6rem;
    .header__img {
      width: 50px;
      height: 50px;
    }
    .header__text {
      font-size: clamp(2.4rem, 2.6vw, 3.2rem);
    }
  }

  &__content__form__body {
    .form-wrap {
      display: flex;
      flex-direction: column;
    }
    label {
      width: 100%;
      font-size: 1.8rem;
      position: relative;
      margin-bottom: 1.8rem;
      .placeholder-logo {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
    label[for="message"] {
      margin-bottom: 0.5rem;
    }

    label input {
      width: 100%;
      padding: 1.5rem;
      font-size: inherit;
      border-radius: 7px;
      border: 1.5px solid $color-form-border;
    }

    label .inputplaceholder {
      position: absolute;
      top: 50%;
      left: 2rem;
      transform: translateY(-50%);
      opacity: 0.4;
      font-size: inherit;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      pointer-events: none;
      transition-property: top, font-size, opacity;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
      span {
        background-color: #fff;
        padding: 0 0.13rem;
      }
    }
    label[for="message"] .inputplaceholder {
      top: 30%;
      font-size: inherit;
    }
    label textarea {
      font-size: inherit;
      width: 100%;
      height: 150px;
      padding: 2rem;
      padding-top: 3rem;
      resize: none;
      font-family: inherit;
      border-radius: 7px;
      border: 1.5px solid $color-form-border;
    }
    .btn-submit {
      @include btn;
      width: 100%;
      color: $color-text-grey;
      background-color: $color-green;
      font-weight: map-get($font-weights, semiBold);
      padding: 1.25rem 0;
      font-size: 2rem;
      border-radius: 4px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      transition: background-color 200ms ease-out;
      &:hover {
        color: darken($color-text-grey, 100%);
        background-color: lighten($color-green, 5%);
      }
    }

    label input:focus,
    label textarea:focus {
      transition: border 100ms, box-shadow 200ms;
      border: 1.5px solid $color-green;
      box-shadow: 0 0 0 3.5px lighten($color-form-border, 9%);
    }

    label textarea:focus + .inputplaceholder,
    label textarea:not(:placeholder-shown) + .inputplaceholder,
    label input:focus + .inputplaceholder,
    label input:not(:placeholder-shown) + .inputplaceholder {
      top: 0;
      opacity: 1;
      font-size: 1.5rem;
    }
    label input:focus + .inputplaceholder > .placeholder-logo,
    label
      input:not(:placeholder-shown)
      + .inputplaceholder
      > .placeholder-logo {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .contact {
    &__content__form {
      &__body {
        display: flex;
        justify-content: center;
        .form-wrap {
          flex-basis: 80%;
        }
        label input {
          padding: 2rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .contact {
    &__content {
      grid-template-columns: 1fr 1fr;
      grid-gap: 0% 5%;
    }
    &__content__heroimage {
      display: block;
      grid-column: 1/2;
      display: block;
      align-self: end;
      img {
        width: 100%;
      }
    }
    &__content__form {
      grid-column: 2/-1;
      &__body {
        display: flex;
        justify-content: center;
        .form-wrap {
          flex-basis: 95%;
        }
        label:not(label[for="message"]) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
